doctype html
<!--[if lt IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="pt-br" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(lang="pt-BR" class="no-js") <!--<![endif]-->
  head
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    meta(charset="UTF-8")
    //- link(rel="manifest" href="manifest.json")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="msapplication-starturl" content="/")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet")

    title #{ htmlWebpackPlugin.options.title }
    meta(name="description" content="")

  <!--Inserir google analytics-->
  block content

