.input {
  margin-right: 11px;
  border: 1px solid $color-disabled;

  border-radius: 4px;

  width: 217px;
  height: 42px;
  padding: 0.2rem 0.5rem;

  color: $color-gray-100;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &:focus-visible {
    border: 1px solid #FF6600;
    outline: #FF6600;
  }

  &::placeholder {
    color: $color-gray-70;
  }

  &:disabled {
    background: #f5f5f5;
    cursor: not-allowed;

    &:hover {
      background: #f5f5f5;
    }
  }
}