$color-primary: linear-gradient(174deg, #EF6C00 18.47%, #DB6300 36.57%) !default;
$color-primary-10: linear-gradient(180deg, #EF6C00 0%, #C0661C 100%) !default;
$color-primary-50: #FF6600 !default;


$color-black: #000000 !default;
$color-gray-100: #222222 !default;
$color-gray-70: #9E9E9E !default;
$color-gray-linear: linear-gradient(180deg, #434854 0%, #9E9E9E 100%) !default;

$color-success: #32BF00 !default;
$color-error: #CC3300 !default;

$color-disabled: #CFCFCF !default;